/build/
/MDK-ARM/test/
/MDK-ARM/*.uvguix.*
/MDK-ARM/JLinkLog.txt
/MDK-ARM/JLinkSettings.ini
/MDK-ARM/RTE/
/MDK-ARM/DebugConfig/
*.o
*.d
*.crf
*.axf
*.iex
*.htm
*.dep
*.lnp
*.lst
*.map
*.scvd
*.uvguix.*
*.bak
*.orig
*.tmp
*.swp
*.swo
*~
.vs/
*.code-workspace
